.header {
  display: grid;
  place-items: center;
  background-color: white;
  width: 100vw;
  padding: 0.5em 1em;
  box-shadow: .3px .5px 3px lightgray;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.header-logo {
  text-decoration: none;
  color: black;
}

.header-logo .so,
.header-logo .pipe {
  font-weight: 200;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.header-logo .me {
  font-weight: 600;
}

.header-nav {
  display: flex;
  text-align: center;
}

.header-nav * {
  text-decoration: none;
  font-size: 0.9rem;
  display: inline;
  margin-left: 1em;
  border: none;
  color: steelblue;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  align-self: center;
}
.header-nav *:first-child {
  margin-left: 0;
}

.header-user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@media only screen and (min-width: 700px) {
  .header-content {
    flex-direction: row;
  }
  .header-nav *:first-child {
    margin-left: 1em;
  }
}
